<sam-Panel>
    <div class="panel-body">
        <h3 class="panel-title">工作概览</h3>
        <div class="row text-center">
            <div class="col-sm-4">
                <a class="btn btn-primary btn-block">
                    <h3>3</h3>
                    <p>我的代办</p>
                </a>
            </div>
            <div class="col-sm-4">
                <a class="btn btn-primary btn-block">
                    <h3>3</h3>
                    <p>我的代办</p>
                </a>
            </div>
            <div class="col-sm-4">
                <a class="btn btn-primary btn-block">
                    <h3>3</h3>
                    <p>我的代办</p>
                </a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <h3 class="panel-title">快捷通道</h3>
    </div>
</sam-Panel>