<div sam-open-transition>
    <div class="list-group knowledge_group">
        <!--<a ui-sref="a/ad({id:t.article_id})" class="list-group-item " ng-repeat="t in vm.item" ng-bind="t.title"></a>-->
        <ul class="knowledge-list knowledge_Width">
            <li ng-repeat="t in vm.item" class="knowledge-item">
               <!--<i class="icon-HRfuwu"></i> -->
               <h4 class="knowledge_nav-font" ng-bind="t.MenuName"></h4>
                <ul class="knowledge-Menus">
                    <li ng-repeat="tt in t.Menus">
                        <h5 ng-bind="tt.MenuName"></h5>
                        <div class="knowledge-Menu">
                            <a ng-repeat="ttt in tt.Menus" ui-sref="a/ad({id:ttt.id})" ng-bind="ttt.title"></a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>