<div class="panel">
    <div class="panel-heading ">
        <h3 class="panel-title ">添加印象</h3>
    </div>
    <div class="panel-body">
        <div class="form-group define_Dialogs-Pad">
            <input type="text" class="form-control" ng-model="vm.WordCloudStr" required="" placeholder="添加印象">
        </div>
        <div class="form-group define_Dialogs-Pad">
            <ul style="display:flex; flex-wrap: wrap;padding:0">
                <li ng-repeat="t in vm.queryTagList" style="display: block;width: 33%">
                    <a href="javascript:void(0)" ng-bind="t.tagContent" ng-click="vm.WordCloudStr=t.tagContent"></a>
                </li>
            </ul>
        </div>
        <div class="form-group define_Dialogs-Btn">
            <div class="text-center">
                <button type="button" class="btn" ng-disabled="!vm.WordCloudStr||vm.WordCloudStr.length<1||vm.WordCloudStr.length>10" ng-click="vm.submitWordCloud(vm.WordCloudStr)">提交</button>
                <button type="button" class="btn" ng-click="closeThisDialog()">取消</button>
            </div>
        </div>
    </div>
</div>