<div sam-open-transition>
    <sam-Swiper-Carouselfigure  swiperconfig="vm.pushcarousel"></sam-Swiper-Carouselfigure>
    <hr>
    <div class="inside-con">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-8 pr0">
                <div class="jchd-list">
                    <h3 class="fz16 pt20 pb15">精彩活动</h3>
                    <div class="Split-line"></div>
                    <div class="media mt20">
                        <ul>
                            <li ng-repeat="t in vm.pagingConfig.item" ui-sref="ser/inside/ad({id:t.article_id})">
                                <div class="media-left mr20">
                                    <img ng-src="{{t.img_url}}" width="146" height="110" />
                                </div>
                                <div class="media-body">
                                    <h4 class="ml20 fz16" ng-bind="t.title"></h4>
                                    <p class="c39 ml20 mr40 mb10 jchd_text">
                                        <span ng-bind="t.content"></span>
                                    </p>
                                    <p class="c3c ml20 fz12 mr40">
                                        <span class="mr40">内推小助手</span>
                                        <span ng-bind="t.create_date | dateFormat"></span>
                                        <span class="pull-right">
                                    <span class="icon-comment"></span>
                                        <span>788</span>
                                        </span>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <sam-Pagingsx ng-hide="vm.pagingConfig.params.pageIndex==1&&vm.pagingConfig.item.length<10||!vm.pagingConfig.item" paging-Config="vm.pagingConfig"></sam-Pagingsx>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 inside-right">
                <div class="mb15"><button type="button" class="btn btn-block btn-danger fz16 pt10 pb10">立即推荐 <span class="icon-right-arr fz12 ml10"></span></button></div>

                <div class="panel panel-default mb15">
                    <div class="panel-heading">内推宝典</div>
                    <div class="panel-body pl0 inside-link">
                        <div class="btn-group col-lg-6 col-md-12 col-sm-12" role="group" ng-repeat="t in vm.canon">
                            <button type="button" class="btn btn-link pl0" ng-bind="t.title" ui-sref="ser/push/ad({id:t.article_id})">内推制度</button>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default mb15" ng-if="vm.stars.length>0">
                    <div class="panel-heading">内推明星榜（
                        <sapn ng-bind="vm.stars[0].pushdate"></sapn>）</div>
                    <div class="panel-body inside-star pt5 pb5">
                        <div class="media">
                            <ul>
                                <li ng-repeat="star in vm.stars">
                                    <div class="media-left">
                                        <img class="media-object img-circle" ng-src="{{star.avatar| img}}?imageView2/2/w/42/q/80/format/png" style="width:42px;height: 42px;" />
                                    </div>
                                    <div class="media-body po-re">
                                        <div class="po-ab" style="left: 0px">
                                            <h3 class="fz14">
                                                <span ng-bind="star.name"></span>
                                                <span class="fz12 c39" ng-bind="star.deptlongname" title="{{star.deptlongname}}"> </span>
                                            </h3>
                                            <p class="fz12 c39 mb0">推荐了<span class="ce9" ng-bind="star.people_count"></span>人</p>
                                        </div>
                                        <div class="po-ab" style="right: 0px;top: 13px" ng-click="vm.addpushLike(star)" href="">
                                            <span class="icon-zan " ng-class="{true:'ce9',false:'c4a'}[star.isLike=='Y']"></span>
                                            <span class="c39 fz12" ng-bind="star.like_count">0</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">印象标签</div>
                    <div class="panel-body pl0 pr0 pt0 pb0">
                        <div class="po-re">
                            <sam-Swiper-Carouselfigure style=" height:120px; " swiperconfig="vm.tagcarousel"></sam-Swiper-Carouselfigure>

                            <!--<img class="media-object" src="/assets/img/yxyj.png" style="width: 100%" />-->
                            <div class="po-ab text-center yxyj-btnbox" style="z-index: 1;">
                                <button type="button" class="btn btn-danger fz12" ng-click="vm.addWordCloud()"><span class="icon-add"></span> 添加印象</button>
                            </div>
                        </div>
                        <div style="width:100%;height:300px" ng-if="vm.option" sam-Echarts="vm.option" sam-mychart="vm.mychart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>