<div sam-open-transition>
    <div class="menu-line mb10">
        <span class="c39">首页 > </span><span class="c39">自助服务 > </span> <span>工作居住证</span>
        <a href="javascript:window.history.go(-1)" class="pull-right more">返回 <span class="icon-arr-right"></span></a></div>
    <div class="live-con">
        <h4 class="text-center mt20 mb20 fz18">办理工作居住证</h4>
        <div ng-bind-html="vm.residence.content | trustAsHtml" class="pre-con"></div>
        
        <form class="form-horizontal" ng-submit="vm.submit()">
            <h4 class="fz16 ce9">基本信息</h4>
            <div class="form-group">
                 <label class="col-md-2 control-label">姓名：</label>
                <div class="col-md-4">
                    <p class="form-control-static" ng-bind="vm.model.name_display"></p>
                </div>
               
                 <label class="col-md-2 control-label">工号：</label>
                <div class="col-md-4">
                    <p class="form-control-static" ng-bind="vm.model.emplid"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">公司实体：</label>
                <div class="col-md-4">
                    <p class="form-control-static" ng-bind="vm.model.comp_descr"></p>
                </div>
                <label class="col-md-2 control-label">部门：</label>
                <div class="col-md-4">
                    <p class="form-control-static" ng-bind="vm.model.deptname"></p>
                </div>
            </div>
            <div class="Split-line mt20 mb10"></div>
            <div class="text-center mt30 mb20">
                <button type="submit" ng-disabled="vm.submitBtnState" class="btn btn-danger w110 mr30">提交</button>
            </div>
        </form>
    </div>

</div>