<div sam-open-transition>
    <div class="menu-line mb10">
        <span class="c39">自助服务 > </span> <span>办理证明</span>
        <a href="javascript:window.history.go(-1)" class="pull-right more">返回 <span class="icon-arr-right"></span></a></div>
    <div class="prove-con">
        <h1 class="prove-con-title fz16">办理证明</h1>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" sam-open-transition>
            <li ng-click="vm.switchProveType('incumbency')" class="active"><a href="#prove-main" data-toggle="tab">在职证明</a></li>
            <li ng-click="vm.switchProveType('income')"><a href="#prove-main" data-toggle="tab">收入证明</a></li>
            <li ng-click="vm.switchProveType('custom')"><a href="#prove-main" data-toggle="tab">自定义证明</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" sam-open-transition id="prove-main">
                <form name="vm.Form" novalidate class="form-horizontal" ng-submit="vm.submit(vm.Form)">
                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">公司实体：</label>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <p class="form-control-static" ng-bind="vm.model.comp_descr"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">工号：</label>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <p class="form-control-static" ng-bind="vm.model.emplid">Username</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">姓名：</label>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <p class="form-control-static" ng-bind="vm.model.name_display">Username</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">部门：</label>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <p class="form-control-static" ng-bind="vm.model.deptname">Username</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">职位：</label>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <p class="form-control-static" ng-bind="vm.model.jobcode_desc">Username</p>
                        </div>
                    </div>
                    <div class="form-group" ng-if="vm.proveType=='custom'" sam-open-transition removeanimation>
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">自定义证明：</label>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <button class="btn btn-primary btn-sm" ngf-select ng-model="vm.model.file"><span class="icon-upload2 mr5"></span> 选择一个文件</button>
                            <span ng-bind="vm.model.file.name"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">证明类型：</label>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <label class="radio-inline">
                        <input type="radio" name="proveType" value="zh" ng-model="vm.model.language">中文
                        </label>
                            <label class="radio-inline">
                        
                        <input type="radio" name="proveType" value="en" ng-model="vm.model.language">英文
                        </label>
                            <!--<span class="help-block">Please enter a complex password</span>-->
                        </div>
                    </div>
                    <div class="form-group mt10">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label"><span class="redstar">*</span> 用途：</label>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <input type="text" name="purpose" class="form-control " style="width: 100%" ng-model="vm.model.purpose" required>      
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 pl0">
                            <span class="help-block has-error" ng-show="vm.Form.purpose.$invalid">用途必须填写</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label">获取途径：</label>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <label class="radio-inline">
                        <input type="radio" name="channel"  value="mail" ng-model="vm.model.channel" >邮寄
                        </label>
                            <label class="radio-inline">
                        
                        <input type="radio" name="channel"  value="line" ng-model="vm.model.channel"  >线下领取
                        </label>
                        </div>
                    </div>
                    <div class="form-group mt20">
                        <div class="col-lg-2 col-md-2 col-sm-2"></div>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div ng-if="vm.model.channel=='mail'" class="sjr-info" sam-open-transition removeanimation>
                                <h3>收件人信息</h3>
                                <div class="sjr-info-con">
                                    <div class="form-group mb15">
                                        <label class="col-lg-3 col-md-3 col-sm-3 control-label"><span class="redstar">*</span> 姓名：</label>
                                        <div class="col-lg-5 col-md-5 col-sm-5 pr0">
                                            <input type="text" name="addressee" class="form-control" ng-model="vm.model.addressee" required>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <span class="help-block has-error" ng-show="vm.Form.addressee.$invalid">姓名必须填写</span>
                                        </div>
                                    </div>
                                    <div class="form-group mb15">
                                        <label class="col-lg-3 col-md-3 col-sm-3 control-label"><span class="redstar">*</span> 手机号码：</label>
                                        <div class="col-lg-5 col-md-5 col-sm-5 pr0">
                                            <input type="text" name="mobile" class="form-control" ng-model="vm.model.mobile" required ng-pattern="/^1[34578]\d{9}$/">
                                            
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <span class="help-block has-error" ng-show="vm.Form.mobile.$invalid">手机号格式不正确</span>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label class="col-lg-3 col-md-3 col-sm-3 control-label"><span class="redstar">*</span> 收货地址：</label>
                                        <div class="col-lg-5 col-md-5 col-sm-5 pr0">
                                            <input type="text" name="address" class="form-control" ng-model="vm.model.address" placeholder="北京市海淀区首体南路6号新世纪饭店写字楼9层" required>                           
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <span class="help-block has-error" ng-show="vm.Form.address.$invalid">收货地址必须填写</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="text-center mt30 pb40 pt20">
                        <button type="submit" ng-disabled="vm.submitBtnState" class="btn btn-danger w110 mr30">提交</button>
                        <!--<button type="submit" class="btn btn-default  w110 mr30">保存草稿</button>-->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>