<div sam-open-transition>
    <div class="menu-line mb10">
        <span class="c39">首页 > </span><span class="c39">自助服务 > </span> <span>离职申请</span>
        <a href="javascript:window.history.go(-1)" class="pull-right more">返回 <span class="icon-arr-right"></span></a></div>
    <div class="quit-con mb20">
        <h1 class="text-center">离职申请</h1>
        <form class="form-inline ml30 mr30 base-info" name="vm.Form" novalidate ng-submit="vm.submit(vm.Form)">
            <h3>个人信息</h3>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 ">
                    <label for="" class="c39">姓名：</label><label ng-bind="vm.model.name_display" for="">鑫鑫</label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 ">
                    <label for="" class="c39">工号：</label><label ng-bind="vm.model.emplid" for=""></label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 ">
                    <label for="" class="c39">职位：</label><label ng-bind="vm.model.jobcode_desc" for=""></label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 ">
                    <label for="" class="c39">职级：</label><label ng-bind="vm.model.supv_level" for=""></label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 ">
                    <label for="" class="c39">部门：</label><label ng-bind="vm.model.deptname" for=""></label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 ">
                    <label for="" class="c39">司龄：</label><label ng-bind="vm.model.hire_dt" for=""></label>
                </div>
            </div>
            <div class="Split-line mt20"></div>
            <h3>离职申请</h1>
                <div class="row">
                    <div class="form-group mb10">
                        <label class="control-label c39"><span class="redstar">*</span> 期望离职日期：</label>
                        <sam-Date-Time datetimepicker="vm.datetimepicker" class="form-control w245" placeholder="选择日期" ng-model="vm.model.dateTime"></sam-Date-Time>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group mb10">
                        <label class="control-label c39"><span class="redstar">*</span> 离职原因：</label>
                        <input type="text" name="reason" class="form-control w245" ng-model="vm.model.reason" required>
                        <span class="has-error ml10" ng-show="vm.Form.reason.$invalid">离职原因必须填写</span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group mb10">
                        <label class=" control-label c39"><span class="redstar">*</span> 手机：</label>
                        <input type="text" name="mobile" class="form-control w245" ng-model="vm.model.mobile" required ng-pattern="/^1[34578]\d{9}$/">
                        <span class="has-error ml10" ng-show="vm.Form.mobile.$invalid">手机号格式不正确</span>
                    </div>
                </div>
                <!--<div class="row">

                    <div class="form-group mb10">
                        <label class="control-label c39"><span class="redstar">*</span> 离职信：</label>
                        <label class="radio-inline">
                                <input type="radio" name="type"  value="edit" ng-model="vm.model.type" >填写
                            </label>
                        <label class="radio-inline">
                                <input type="radio" name="type"  value="upload" ng-model="vm.model.type"  >上传
                            </label>
                    </div>
                </div>-->
                <div class="row" ng-if="vm.model.type=='edit'">
                    <div class="form-group mr30" style="margin-left: 180px;">
                        <sam-Editor ng-model="vm.model.Editor" style="width: 100%;"></sam-Editor>
                    </div>
                </div>
                <div class="row" ng-if="vm.model.type=='upload'">
                    <div class="form-group mr30" style="margin-left: 180px;">
                        <buttonclass="btn btn-primary btn-sm" ngf-select ng-model="vm.model.file">选择一个文件</button>
                            <span ng-bind="vm.model.file.name"></span>
                    </div>
                </div>
                <div class="text-center mt35 mb30">
                    <button type="submit" ng-disabled="vm.submitBtnState" class="btn btn-danger w110 mr30">提交</button>
                    <!--<button type="submit" class="btn btn-default  w110 mr30">保存草稿</button>-->
                    <a href="#" class="btn-link">查看离职交接流程</a>
                </div>
        </form>
    </div>
</div>