<div sam-open-transition>
    申请详情{{svm.serHelper.$stateParams.id}}

    <div ng-bind="svm.applyDetails.applyId"></div>
    <div ng-bind="svm.applyDetails.applyUid"></div>
    <div ng-bind="svm.applyDetails.content"></div>
    <div ng-bind="svm.applyDetails.createBy"></div>
    <div ng-bind="svm.applyDetails.createDate"></div>
    <div ng-bind="svm.applyDetails.createName"></div>
    <div ng-bind="svm.applyDetails.createUid"></div>
    <div ng-bind="svm.applyDetails.delFlag"></div>
    <div ng-bind="svm.applyDetails.modifyBy"></div>
    <div ng-bind="svm.applyDetails.modifyDate"></div>
    <div ng-bind="svm.applyDetails.modifyUid"></div>
    <div ng-bind="svm.applyDetails.status"></div>
    <div ng-bind="svm.applyDetails.title"></div>
    <div ng-bind="svm.applyDetails.type"></div>
</div>