<div>
    <div class="list-group-item">
        <div class="mg-member-item">
            <img ng-src="{{t.avatar | img:'avatar'}}" class="img-circle">
            <h3 class="mg-member-item-name"><span ng-bind="t.name_display"></span>&nbsp;</h3>
            <p class="mg-member-item-position">
                职位：<span ng-bind="t.jobcode_desc"></span>
                <span ng-bind="t.empl_class" ng-if="t.empl_class=='全职'" class="position_information Btn-full-time"></span>
                <span ng-bind="t.empl_class" ng-if="t.empl_class=='实习'" class="position_information Btn-internship"></span>
                <span ng-bind="t.empl_class" ng-if="t.empl_class!='全职' && t.empl_class!='实习'" class="position_information Btn-trial"></span>
                <p class="mg-member-item-contact">
                    <span>邮箱：<span ng-bind="t.email_addr"></span></span>
                    <span>电话：<span ng-bind="t.mobile"></span></span>
                    <span>工号：<span ng-bind="t.emplid"></span></span>
                    <a class="pull-right" href="javascript:void(0)" ng-click="svm.getTeamMember(t)"><span ng-bind="t.TeamMemberDisplay?'收起团队':'ta的团队'"></span> <i class="icon-arr-down define-arr_down"></i></a>

                </p>
        </div>
        <div class="list-group mg-member-list team_list-Open" ng-if="t.TeamMember.length" ng-show="t.TeamMemberDisplay">
            <sam-Team-Member ng-repeat="t in t.TeamMember" class="team_list-Content "></sam-Team-Member>

        </div>
    </div>
</div>