<div>
    <h1>
        这里都是基础图表，具体API扩展等详细配置请查看文档根据需求配置
        <p><a href="http://jtblin.github.io/angular-chart.js/#getting_started">ng插件网址</a></p>
        <p><a href="http://www.chartjs.org/">图表网址 （英文）</a></p>
        <p> <a href="http://chartjs.cn/">图表网址 （中文） </a></p>
        <p> <a href="http://www.bootcss.com/p/chart.js/docs/">图表网址 （中文） </a></p>
    </h1>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2><i class="fa fa-indent red"></i><strong>Line</strong></h2>
            </div>
            <div class="panel-body" sam-Zoom>
                <canvas class="chart chart-line" chart-data="vm.Line.data" chart-labels="vm.Line.labels" chart-series="vm.Line.series" chart-options="vm.Line.options" chart-dataset-override="vm.Line.datasetOverride" chart-click="vm.Line.onClick"></canvas>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2><i class="fa fa-indent red"></i><strong>Bar</strong></h2>
            </div>
            <div class="panel-body">
                <canvas class="chart chart-bar" chart-data="vm.Bar.data" chart-labels="vm.Bar.labels" chart-series="vm.Bar.series"></canvas>

            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2><i class="fa fa-indent red"></i><strong>Doughnut</strong></h2>
            </div>
            <div class="panel-body">
                <canvas class="chart chart-doughnut" chart-data="vm.Doughnut.data" chart-labels="vm.Doughnut.labels"></canvas>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2><i class="fa fa-indent red"></i><strong>Radar</strong></h2>
            </div>
            <div class="panel-body">
                <canvas class="chart chart-radar" chart-data="vm.Radar.data" chart-options="vm.Radar.options" chart-labels="vm.Radar.labels"></canvas>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2><i class="fa fa-indent red"></i><strong>Pie</strong></h2>
            </div>
            <div class="panel-body">
                <canvas class="chart chart-pie" chart-data="vm.Pie.data" chart-labels="vm.Pie.labels" chart-options="vm.Pie.options"></canvas>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2><i class="fa fa-indent red"></i><strong>Polar Area</strong></h2>
            </div>
            <div class="panel-body">
                <canvas class="chart chart-polar-area" chart-data="vm.PolarArea.data" chart-labels="vm.PolarArea.labels" chart-options="vm.PolarArea.options"></canvas>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2><i class="fa fa-indent red"></i><strong>Horizontal Bar</strong></h2>
            </div>
            <div class="panel-body">
                <canvas class="chart-horizontal-bar" chart-data="vm.HorizontalBar.data" chart-labels="vm.HorizontalBar.labels"></canvas>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2><i class="fa fa-indent red"></i><strong>Bubble</strong></h2>
            </div>
            <div class="panel-body">
                <canvas class="chart-bubble" chart-data="vm.Bubble.data" chart-series="vm.Bubble.series"></canvas>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2><i class="fa fa-indent red"></i><strong>Dynamic</strong></h2>
            </div>
            <div class="panel-body">
                <button type="button" class="btn btn-danger" ng-click="vm.Dynamic.toggle()">点击切换</button>
                <canvas class="chart-base" chart-type="vm.Dynamic.type" chart-data="vm.Dynamic.data" chart-labels="vm.Dynamic.labels"></canvas>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2><i class="fa fa-indent red"></i><strong>Bar line  </strong></h2>
            </div>
            <div class="panel-body">
                <canvas class="chart-bar" chart-data="vm.Barline.data" chart-labels="vm.Barline.labels" chart-colors="vm.Barline.colors" chart-dataset-override="vm.Barline.datasetOverride"></canvas>
            </div>
        </div>
    </div>

</div>