<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" ng-model="vm.params.key">
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="vm.search()">查询</button>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>UserId</th>
                            <th>姓名</th>
                            <th>邮件</th>
                            <th>电话</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in vm.PagingConfig.list">
                            <td ng-bind="row.UserId"></td>
                            <td ng-bind="row.CEmpName"></td>
                            <td ng-bind="row.Email"></td>
                            <td ng-bind="row.Mobile"></td>
                            <td>
                                <span><button type="button" class="btn btn-xs del" ng-click="vm.remove(row)">删除</button></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <sam-Paging ng-if="vm.PagingConfig.pageCount>1"></sam-Paging>
            </div>
        </div>
    </div>
</div>