<div sam-open-transition>
    <div class="main-menu-tabs">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#hr-staff" aria-controls="hr-staff" data-toggle="tab">团队成员</a></li>
        <li><a href="#hr-reportform" aria-controls="hr-reportform" data-toggle="tab">报表分析</a></li>
        <li><a href="#hr-quit" aria-controls="hr-quit" data-toggle="tab">被动离职申请</a></li>
        <li><a href="http://192.168.0.156:8333/psp/ps/?cmd=login&languageCd=ZHS&" target="_blank">进入EHR</a></li>
    </ul>
    </div>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="hr-staff" ui-view="hr-staff"></div>
        <div class="tab-pane " id="hr-reportform" ui-view="hr-reportform"></div>
        <div class="tab-pane " id="hr-quit" ui-view="hr-quit"></div>
    </div>
</div>