@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?i1ifsx');
  src:  url('fonts/icomoon.eot?i1ifsx#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?i1ifsx') format('truetype'),
    url('fonts/icomoon.woff?i1ifsx') format('woff'),
    url('fonts/icomoon.svg?i1ifsx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add2:before {
  content: "\e700";
}
.icon-delete:before {
  content: "\e701";
}
.icon-edit:before {
  content: "\e702";
}
.icon-move-down:before {
  content: "\e703";
}
.icon-move-top:before {
  content: "\e704";
}
.icon-qiyong:before {
  content: "\e705";
}
.icon-zsj-arr:before {
  content: "\e706";
}
.icon-save:before {
  content: "\e707";
}
.icon-menu2:before {
  content: "\e708";
}
.icon-menu:before {
  content: "\e709";
}
.icon-close:before {
  content: "\e70a";
}
.icon-export1:before {
  content: "\e70b";
}
.icon-submit:before {
  content: "\e70c";
}
.icon-yes:before {
  content: "\e70d";
}
.icon-manage:before {
  content: "\e70e";
}
.icon-flag:before {
  content: "\e90f";
}
.icon-pwd:before {
  content: "\e711";
}
.icon-mass:before {
  content: "\e712";
}
.icon-group:before {
  content: "\e713";
}
.icon-data:before {
  content: "\e714";
}
.icon-search:before {
  content: "\e715";
}
.icon-addimg:before {
  content: "\e717";
}
.icon-img:before {
  content: "\e718";
}
.icon-quit:before {
  content: "\e719";
}
.icon-doc1:before {
  content: "\e71a";
}
.icon-uniE91B:before {
  content: "\e71b";
}
.icon-news:before {
  content: "\e71c";
}
.icon-select:before {
  content: "\e91b";
}
.icon-committed:before {
  content: "\e71e";
}
.icon-preview:before {
  content: "\e71f";
}
.icon-logo:before {
  content: "\e720";
}
.icon-present:before {
  content: "\e721";
}
.icon-add:before {
  content: "\e722";
}

