<ul class="pagination">
    <li class="fy"><a href="javascript:void(0)" ng-click="Paging.Prev(1)">上一页</a></li>
    <li class="page"><a href="javascript:void(0)" ng-show="Paging.Spot.Prev" ng-click="Paging.Prev(10)">...</a></li>
    <li ng-repeat="p in Paging.PageNumber" ng-click="Paging.GO(p)" ng-class="{'active':Paging.currentPage==p}" class="page">
        <a href="javascript:void(0)" ng-bind="p"></a>
    </li>
    <li class="page"><a href="javascript:void(0)" ng-show="Paging.Spot.Next" ng-click="Paging.Next(10)">...</a></li>
    <li class="fy"><a href="javascript:void(0)" ng-click="Paging.Next(1)">下一页</a></li>
    <input type="text" placeholder="输入页码" ng-model="j">
    <li class="fy"><a href="javascript:void(0)" ng-click="Paging.GO(j)">GO</a></li>
    <span>{{Paging.Count}}条记录，共{{Paging.PageNum}}页</span>
</ul>