<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="javascript:void(0)" ng-click="vm.shrinkNav()"><span class="icon-menu"></span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="navbar-form navbar-left" style="margin-top: 13px;">

            <div class="header-Search">
                <input type="text" placeholder="搜索" ng-model="vm.searchStr" ng-keydown="vm.keydown($event,vm.searchStr)">
                <button type="submit" ui-sref="public/search({key:vm.searchStr})"><span class="icon-search"></span></button>
            </div>
            <!--<div class="header-Search" style="padding-left: 0" angucomplete-alt id="navbar-Search-ex7" search-button="true" placeholder="Search countries" pause="500" remote-url="{{vm.remoteUrl}}" 
                remote-url-data-field="data" selected-object="vm.resultSelected"
                title-field="create_name" minlength="1" input-class="navbar-Search-input">
            </div>-->

        </div>
        <ul class="nav navbar-nav navbar-right">
            <li ng-if="vm.weather.name">
                <!--<span ng-bind="vm.weather.name"></span>-->
                <span class="icon_weather_small " ng-class="'icon_weather_'+vm.weather.val.f1+'_0'"></span>
                <span style="float:right;margin: 10px;font-size: 12px;text-align: center;">
                    <div ng-bind="vm.weather.val.s1+'~'+vm.weather.val.s2"></div>
                    <div ng-bind="vm.weather.val.t1+'℃~'+vm.weather.val.t2+'℃'"></div>
                </span>
            </li>
            <li>
                <a ui-sref="public/message({pageIndex:1})" class="tip-massges po-re">
                    <i class="icon-massges "></i>
                    <span ng-bind="vm.nnReadCount.count" ng-if="vm.nnReadCount.count>0" class="po-ab"></span>
                    <b class="po-ab"></b>
                </a>
            </li>

            <li class="nav-user" ng-click="vm.signOut()">
                <a href="javascript:void(0)" class="tip-logout po-re">
                    <i class="icon-tuichu "></i>
                    <span class="po-ab">退出</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</div>