<div class="min-btns-body ">
    <div class="list-group text-center min-or-code">
        <div class="min-btn-img">
            <div class="QRCode-big">
                <img ng-src="{{vm.QRCode[0].imgurl}}" alt="" style="width:100px;height: 100px;"/>
            </div>
        </div>
        <a href="javascript:void(0)" class="list-group-item">
            <div class="min-btns">
                <div class="min-btns-icon">
                    <span class="icon-QRcode"></span>
                </div>
                <div>
                    <span>扫码</span>
                </div>
            </div>
        </a>
    </div>
    <div class="list-group text-center">
        <a href="javascript:void(0)" class="list-group-item" ng-click="vm.openDialog('咨询','描述','vm.consultation()')">
            <div class="min-btns">
                <div class="min-btns-icon">
                    <span class=" icon-zixun"></span>
                </div>
                <div>
                    <span>咨询</span>
                </div>
            </div>
        </a>
    </div>
    <div class="list-group text-center">
        <a href="javascript:void(0)" class="list-group-item" ng-click="vm.openDialog('反馈','描述','vm.feedback()')">
            <div class="min-btns">
                <div class="min-btns-icon">
                    <span class="icon-edit"></span>
                </div>
                <div>
                    <span>反馈</span>
                </div>
            </div>
        </a>
    </div>
</div>