<div class="text-center">
    <ul class="pager">
        <li ng-class="{'disabled':VMpaging.pageIndex==1}"><a href="javascript:void(0)" ng-click="VMpaging.Go('Prev')">上一页</a></li>
        <li class="disabled" title="当前页码" style="position: relative">
            <span style="position: absolute;border:none" ng-bind="VMpaging.pageIndex"></span>
            <i ng-class="{'fa-pulse':VMpaging.Loading}" style="color: #29d;" class="fa fa-spinner  fa-2x fa-fw"></i>
        </li>
        <li ng-class="{'disabled':VMpaging.NextBtnDisabled}"><a href="javascript:void(0)" ng-click="VMpaging.Go('Next')">下一页</a></li>
    </ul>
</div>