<div sam-open-transition>
    
    <div class="quit-con pr10">
    
        <div class="row mb10">
            <div class="col-lg-6 col-md-6 col-sm-6 ">
                <label class="c39">姓名：</label><label ng-bind="svm.model.name_display" ></label>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 ">
                <label class="c39">工号：</label><label ng-bind="svm.model.emplid"></label>
            </div>
        </div>
        <div class="row mb10">
            <div class="col-lg-12 col-md-12 col-sm-12 ">
                <label class="c39">银行：</label><label ng-bind="svm.model.account_name" ></label>
            </div>
        </div>
        <div class="row mb10">
            <div class="col-lg-12 col-md-12 col-sm-12 ">
                <label class="c39">支行：</label><label ng-bind="svm.model.bankBranchName" ></label>
            </div>
        </div>
        <div class="row mb10">
            <div class="col-lg-12 col-md-12 col-sm-12 ">
                <label class="c39">原卡号：</label><label ng-bind="svm.model.old_account_ec_id"></label>
            </div>
        </div>
        <div class="row mb10">
            <div class="col-lg-12 col-md-12 col-sm-12 ">
                <label class="c39">新卡号：</label><label ng-bind="svm.model.account_ec_id"></label>
            </div>
        </div>
        
        <div class="row mb10">
            <div class="col-lg-12 col-md-12 col-sm-12 ">
                <label class="c39">照片：</label>
                <img ng-src="{{svm.model.img}}" alt="" style="max-width:100%;"></label>
            </div>
        </div>
        
        

    </div>
    
</div>