<div sam-open-transition>

    <div class="quit-con pl0 pt10 pr10 entry-con">

        <h3 class="mt0">候选人基本信息</h3>
        <div class="ml10">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 ">
                <label for="" class="c39">姓名：</label><label ng-bind="svm.model.name_display" for=""></label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 ">
                <label for="" class="c39">毕业院校：</label><label ng-bind="svm.model.emplid" for=""></label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 ">
                <label for="" class="c39">学历：</label><label ng-bind="svm.model.emplid" for=""></label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 ">
                <label for="" class="c39">身份证：</label><label ng-bind="svm.model.name_display" for=""></label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 ">
                <label for="" class="c39">目前职位：</label><label ng-bind="svm.model.emplid" for=""></label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 ">
                <label for="" class="c39">工作年限：</label><label ng-bind="svm.model.emplid" for=""></label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 ">
                <label for="" class="c39">个人邮箱：</label><label ng-bind="svm.model.name_display" for=""></label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 ">
                <label for="" class="c39">目前就职公司：</label><label ng-bind="svm.model.emplid" for=""></label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 ">
                <label for="" class="c39">联系电话：</label><label ng-bind="svm.model.name_display" for=""></label>
            </div>
        </div>
    </div>
        <div class="Split-line mt20"></div>


        <h3>工作信息</h3>
         <div class="ml10">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 ">
                <label for="" class="c39">编制票号：</label><label ng-bind="svm.model.name_display" for=""></label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 ">
                <label for="" class="c39">编制部门：</label><label ng-bind="svm.model.emplid" for=""></label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 ">
                <label for="" class="c39">代替人员：</label><label ng-bind="svm.model.emplid" for=""></label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 ">
                <label for="" class="c39">职位：</label><label ng-bind="svm.model.name_display" for=""></label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 ">
                <label for="" class="c39">职位类型：</label><label ng-bind="svm.model.emplid" for=""></label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 ">
                <label for="" class="c39">职级：</label><label ng-bind="svm.model.emplid" for=""></label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 ">
                <label for="" class="c39">职位顺序：</label><label ng-bind="svm.model.name_display" for=""></label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 ">
                <label for="" class="c39">雇佣城市：</label><label ng-bind="svm.model.emplid" for=""></label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 ">
                <label for="" class="c39">雇佣类型：</label><label ng-bind="svm.model.emplid" for=""></label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 ">
                <label for="" class="c39">所属部门：</label><label ng-bind="svm.model.name_display" for=""></label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 ">
                <label for="" class="c39">部门负责人：</label><label ng-bind="svm.model.emplid" for=""></label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 ">
                <label for="" class="c39">公司：</label><label ng-bind="svm.model.emplid" for=""></label>
            </div>
        </div>
         </div>
        <div class="Split-line mt20"></div>


        <h3>录用信息</h3>
         <div class="ml10">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 ">
                <label for="" class="c39">合同期：</label><label ng-bind="svm.model.name_display" for=""></label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 ">
                <label for="" class="c39">试用期：</label><label ng-bind="svm.model.emplid" for=""></label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 ">
                <label for="" class="c39">计划入职时间：</label><label ng-bind="svm.model.emplid" for=""></label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 ">
                <label for="" class="c39">上司姓名：</label><label ng-bind="svm.model.name_display" for=""></label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 ">
                <label for="" class="c39">是否在雇佣：</label><label ng-bind="svm.model.emplid" for=""></label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 ">
                
            </div>
        </div>
         </div>

    </div>

</div>