<div sam-open-transition>

    <div class="quit-con pt0 pr10">

        <h3 class="mt10 ce9">员工信息</h3>
        <div class="row mb10">
            <div class="col-lg-6 col-md-6 col-sm-6 ">
                <label class="c39">工号：</label><label ng-bind="svm.model.name_display" ></label>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 ">
                <label class="c39">姓名：</label><label ng-bind="svm.model.name_display" ></label>
            </div>
        </div>
        <div class="row mb10">
            <div class="col-lg-6 col-md-6 col-sm-6 ">
                <label class="c39">部门：</label><label ng-bind="svm.model.name_display" ></label>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 ">
                <label class="c39">职位：</label><label ng-bind="svm.model.name_display" ></label>
            </div>
        </div>
        <div class="row mb10">
            <div class="col-lg-6 col-md-6 col-sm-6 ">
                <label class="c39">入职日期：</label><label ng-bind="svm.model.name_display" ></label>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 ">
                <label class="c39">转正日期：</label><label ng-bind="svm.model.name_display" ></label>
            </div>
        </div>
        <div class="Split-line mt20 mb20"></div>
        
        <div class="row mb10">
            <div class="col-lg-6 col-md-6 col-sm-6 ">
                <label class="c39">主要工作职责：</label><label ng-bind="svm.model.name_display" ></label>
            </div>
        </div>
        <div class="row mb10">
            <div class="col-lg-6 col-md-6 col-sm-6 ">
                <label class="c39">具体工作内容：</label><label ng-bind="svm.model.name_display" ></label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 ">
                <label class="c39">员工自评：</label><label ng-bind="svm.model.name_display" ></label>
            </div>
        </div>




    </div>

</div>