<div sam-open-transition>

    <div class="live-con">
        <!--<div ng-bind-html="svm.residence.content | trustAsHtml"></div>-->
        <!--<div class="Split-line mt20 mb10"></div>-->
        <form class="form-horizontal" >
            
            <div class="form-group">
                <label class="col-md-3 control-label">公司实体：</label>
                <div class="col-md-9">
                    <p class="form-control-static" ng-bind="svm.model.comp_descr"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">工号：</label>
                <div class="col-md-9">
                    <p class="form-control-static" ng-bind="svm.model.emplid"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">姓名：</label>
                <div class="col-md-9">
                    <p class="form-control-static" ng-bind="svm.model.name_display"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">部门：</label>
                <div class="col-md-9">
                    <p class="form-control-static" ng-bind="svm.model.deptname"></p>
                </div>
            </div>
            
        </form>
    </div>

</div>