<div sam-open-transition>
    <div class="seal-con pl0 pt10 pr10">
        <div class="form-group">
            <label class="col-lg-4 col-md-4 col-sm-4 control-label">姓名：</label>
            <div class="col-lg-8 col-md-8 col-sm-8">
                <p class="form-control-static" ng-bind="svm.model.name_display">Username</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4 col-md-4 col-sm-4 control-label">部门：</label>
            <div class="col-lg-8 col-md-8 col-sm-8">
                <p class="form-control-static" ng-bind="svm.model.deptname">Username</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4 col-md-4 col-sm-4 control-label">手机号码：</label>
            <div class="col-lg-8 col-md-8 col-sm-8">
                <p class="form-control-static" ng-bind="svm.model.mobile">Username</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4 col-md-4 col-sm-4 control-label">材料描述：</label>
            <div class="col-lg-8 col-md-8 col-sm-8">
                <span class="help-block" ng-bind="svm.model.describe"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4 col-md-4 col-sm-4 control-label">份数：</label>
            <div class="col-lg-8 col-md-8 col-sm-8">
                <span class="help-block" ng-bind="svm.model.number"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4 col-md-4 col-sm-4 control-label"> 用途：</label>
            <div class="col-lg-8 col-md-8 col-sm-8">
                <span class="help-block" ng-bind="svm.model.purpose"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4 col-md-4 col-sm-4 control-label">附件：</label>
            <div class="col-lg-8 col-md-8 col-sm-8">
                <a ng-href="{{svm.model.fileUrl}}" target="_blank">附件</a>
            </div>
        </div>

    </div>
</div>