<div class="row">
    <div class="col-lg-7 col-md-12 col-sm-12" ng-include="'templates/home/page/shortcut-channel.tpl.html'"></div>
    <div class="col-lg-5 col-md-12 col-sm-12">
        <sam-Panel>
            <div class="panel-body">
                <h3 class="panel-title">日历</h3>
            </div>
        </sam-Panel>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12" ui-view="teamProfile"></div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12" ui-view="page1"></div>
    <div class="col-lg-6 col-md-12 col-sm-12" ui-view="page2"></div>
</div>