<div sam-open-transition>

    <!--<div angucomplete-alt id="ex7" placeholder="Search countries" pause="500" 
        remote-url="/api/notice/queryAll?pageIndex=1&pageSize=5&type=" 
        remote-url-data-field="data" selected-object="vm.countrySelected" title-field="create_name" minlength="1"
        input-class="form-control input-lg" match-class="highlight">
    </div>-->
    <div class="mb10 c36">已为您搜索到 <span class="ce9" ng-bind="vm.result.article.length + vm.result.user.length">0</span> 个结果</div>
    <div class="Search-con">
        <!--<div class="Result mb10">
            <h2 class="Result-title fz14 c39">导航</h2>
            <div class="Result-con">
                <ul class="Result-link pl20" style="display:flex; flex-wrap: wrap">
                    <li><a href="#">我的待办</a></li>
                    <li><a href="#">我的申请</a></li>
                    <li><a href="#">我的待办</a></li>
                    <li><a href="#">我的申请</a></li>
                    <li><a href="#">我的待办</a></li>
                    <li><a href="#">我的申请</a></li>
                    <li><a href="#">我的待办</a></li>
                    <li><a href="#">我的申请</a></li>
                    <li><a href="#">我的待办</a></li>
                    <li><a href="#">我的申请</a></li>
                </ul>
            </div>
        </div>-->
        <div class="Result mb10" ng-if="vm.result.user.length>0">
            <h2 class="Result-title fz14 c39 mb0">员工</h2>
            <div class="Result-con">
                <div class="media">
                    <ul>
                        <li ng-repeat="user in vm.result.user">
                            <div class="media-left pr20">
                                <a href="javascript:void(0)"><img class="media-object" src="/assets/img/tx.png" /></a>
                            </div>
                            <div class="media-body">
                                <div class="row fz18">
                                    <span class="col-lg-4 col-md-4 col-sm-4" ng-bind="user.name_display">姓名</span>
                                </div>
                                <div class="row fz14 c36">
                                    <span class="col-lg-8 col-md-8 col-sm-8">
                                        <span ng-bind="user.deptlongname">部门</span> - <span ng-bind="user.jobcode_desc"></span>
                                    </span>
                                    <span class="col-lg-4 col-md-4 col-sm-4">直接上级：<span ng-bind="user.supervisor_name"></span></span>
                                </div>
                                <div class="row c39">
                                    <span class="col-lg-4 col-md-4 col-sm-4">邮箱：<span ng-bind="user.email_addr"></span></span>
                                    <span class="col-lg-4 col-md-4 col-sm-4">电话：<span ng-bind="user.mobile"></span></span>
                                    <span class="col-lg-4 col-md-4 col-sm-4">工号：<span ng-bind="user.emplid"></span></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="text-center pt5 pb5" ng-if="vm.params.user.lastLength==vm.params.user.pageSize">
                        <a href="javascript:void(0);" class="c3c more" ng-click="vm.moreUser()">显示更多 <span class="icon-angle-down"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="Result mb10" ng-if="vm.result.article.length>0">
        <h2 class="Result-title fz14 c39 mb0">资讯公告/文化/精彩活动/鑫知识库</h2>
        <div class="Result-con">
            <ul class="Result-newlist">
                <li ng-repeat="article in vm.result.article">
                    <a href="javascript:void(0);" ng-click="vm.openarticle(article)">
                        <h4 class="fz14 c33 mb5">
                            <span ng-bind="article.title"></span>
                        </h4>
                        <p class="fz14 c39 mb5" ng-bind="article.content"></p>
                        <p class="fz12 c3c mb0" ng-bind="article.create_date | dateFormat:'yyyy.MM.dd HH:mm'">2017/04/10</p>
                    </a>
                </li>
            </ul>
            <div class="text-center pt5 pb5" ng-if="vm.params.article.lastLength==vm.params.article.pageSize">
                <a href="javascript:void(0);" class="c3c more" ng-click="vm.moreArticle()">显示更多 <span class="icon-angle-down"></span></a>
            </div>
        </div>
    </div>
</div>