<div class="row Display_flex">
    <div class="col-lg-7 col-md-12 col-sm-12 home-view-shortcut" ng-include="'templates/home/son/shortcut-channel.tpl.html'"></div>
    <div class="col-lg-5 col-md-12 col-sm-12 home-view-calendar" ui-view="calendar"></div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 home-view-teamProfile" ui-view="teamProfile"></div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12  home-view-notice Define_notice" ng-include="'templates/home/son/notice.tpl.html'"></div>
    <div class="col-lg-6 col-md-12 col-sm-12  home-view-culture Define_culture" ng-include="'templates/home/son/culture.tpl.html'"></div>
</div>
<div class="row">
    <div class="panel-body  home-view-friendlink">
        <div class="panel-title">
            <b>友情链接：</b><span ng-repeat="t in vm.friendlink"><a ng-href="{{t.url}}" target="_blank" ng-bind="t.title"></a></span>
        </div>
      
    </div>
</div>