<div>

    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-laptop"></i>{{'测试过滤器'| samTest : 'aaa'}} </h3>
        </div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-success btn-lg" ng-click="vm.clickToOpen(1)">serHelper</button>
        <button type="button" class="btn  btn-success btn-lg " ng-click="vm.clickToOpen(2)">serBusiness</button>
        <button type="button" class="btn  btn-success btn-lg " ng-click="vm.clickToOpen(3)">消息2</button>
        <button type="button" class="btn  btn-success btn-lg " ng-click="vm.clickToOpen(4)">消息3</button>
        <button type="button" class="btn  btn-success btn-lg " ng-click="vm.clickToOpen(5)">消息4</button>
        <button type="button" class="btn  btn-success btn-lg " ng-click="vm.oncfpLoadingBar(5)">进度条</button>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 sam-Zoom><i class="fa fa-indent red"></i><strong>图片放大  sam-Zoom 任何标签都可以放大  指令 </strong></h2>
                </div>
                <div class="panel-body">
                    <p> data-original 是图片放大后显示的图片地址</p>
                    <!--data-original 放大后显示的图片 -->
                    <img src="assets/img/journey2.jpg" width="400" alt="" data-original="assets/img/journey.jpg" sam-Zoom>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-indent red"></i><strong></strong></h2>
                </div>
                <div class="panel-body">
                    <style>
                        .cropArea {
                            background: #E4E4E4;
                            overflow: hidden;
                            width: 500px;
                            height: 350px;
                        }
                    </style>
                    <div><input type="file" id="fileInput" /></div>
                    <br>
                    <div class="cropArea" sam-Img-Zoom>
                        <img-crop image="myImage" result-image="myCroppedImage"></img-crop>
                    </div>
                    <p>image:数据绑定到的可分配角度表达式。NgImgCrop获取一个图像进行裁剪。</p>
                    <p>result-image:数据绑定到的可分配角度表达式。NgImgCrop将裁剪后的图像的数据uri放入其中。</p>
                    <p>change-on-fly:可选。默认情况下，为了减少CPU使用率，当用户拖动/调整裁剪区域的大小时，结果图像仅在用户停止拖动/调整大小后更新。设置为true可在用户拖动/调整裁剪区域时始终更新结果图像。</p>
                    <p>area-type:可选。裁剪区域的类型。可能的值：circle | square。默认值：圆。</p>
                    <p>area-min-size:可选。最小。裁剪区域的宽度/高度（以像素为单位）。默认值：80。</p>
                    <p>result-image-size:可选。结果图片的宽度/高度（以像素为单位）。默认值：200。</p>
                    <p>result-image-format:可选。结果图像的格式。可能的值包括image / jpeg，image / png和image / webp。浏览器支持不同。默认值：image / png。</p>
                    <p>result-image-quality:可选。结果图像的质量。可能的值介于0.0和1.0之间（含）。默认值：浏览器默认值。</p>
                    <p>on-change:可选。更改图像裁剪部分时评估的表达式。裁剪后的图像数据可用为$ dataURI。</p>
                    <p>on-load-begin:可选。用于评估源图像何时开始加载的表达式。</p>
                    <p>on-load-done:可选。用于评估源图像何时成功加载的表达式。</p>
                    <p>on-load-error:可选。用于评估源图像未加载的表达式。</p>
                </div>
            </div>
        </div>
    </div>

</div>