<div class="row">
    <div class="col-md-12">
        <h1>上传方式一：plupload</h1>

        <button class="btn btn-primary btn-sm" id="uploadfile" plupload>选择文件</button>
        <button class="btn btn-primary btn-sm" ng-click="vm.upload()">上传</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>上传方式二：plupload - 上传到七牛云</h1>

        <button class="btn btn-primary btn-sm" id="pickfiles" plupload>选择文件</button>
        <button class="btn btn-primary btn-sm" ng-click="vm.qiniuUpload()">上传到七牛云</button>
    </div>
    <div>
        上传后的七牛文件地址:
        <ul>
            <li ng-repeat="f in vm.qiniu_files"><img ng-src="{{f}}" alt=""></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>上传方式三：ng-file-upload - 直接上传</h1>

        <button class="btn btn-primary btn-sm" ngf-select="vm.ngSelectAndUploadFile($file)">选择一个文件然后直接上传</button>
        <button class="btn btn-primary btn-sm" ngf-select="vm.ngSelectAndUploadFiles($files)" multiple="multiple">选择多个文件然后直接上传</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>上传方式四：ng-file-upload - 点击上传按钮</h1>

        <p>
            <button class="btn btn-primary btn-sm" ngf-select ng-model="vm.file">选择一个文件</button>
            <button class="btn btn-danger btn-sm" ng-click="vm.ngUploadFile()">上传</button>
        </p>

        <p>
            <button class="btn btn-primary btn-sm" ngf-select ng-model="vm.files" multiple="multiple">选择多个文件</button>
            <ul>
                <li ng-repeat="f in vm.files" ng-bind="f.name"></li>
            </ul>
            <button class="btn btn-danger btn-sm" ng-click="vm.ngUploadFiles()">上传</button>
        </p>

    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2><i class="fa fa-indent red"></i><strong>裁剪图片上传 { 裁剪后的图片为base64 编码 暂时没发现有接口}</strong></h2>
            </div>
            <div class="panel-body">
                <div>
                    <button class="btn btn-primary btn-sm" ngf-select ng-model="vm.imgFile" accept="image/*">选择一个图片</button>
                    <button class="btn btn-danger btn-sm" ng-click="vm.qiniuBase64()">上传</button>
                </div>
                <br>
                <div style="width: 250px;height: 250px;background:#E4E4E4;  overflow: hidden;display: inline-block;">
                    <img-crop image="vm.imgFile | ngfDataUrl" result-image="vm.croppedDataUrl"></img-crop>
                </div>
                <div style="width: 150px;height: 150px;background:#E4E4E4;  overflow: hidden;display: inline-block;">
                    <img ng-src="{{vm.croppedDataUrl}}" width="150" alt="">
                </div>
                <p>成功后图片</p>
                <div style="width: 150px;height: 150px;background:#E4E4E4;  overflow: hidden;display: inline-block;">
                    <img ng-src="{{vm.qiniuBase64sourceLink}}" width="150" alt="">
                </div>
                <p>image: <br> 数据绑定到的可分配角度表达式。NgImgCrop获取一个图像进行裁剪。</p>
                <p>result-image: <br>数据绑定到的可分配角度表达式。NgImgCrop将裁剪后的图像的数据uri放入其中。</p>
                <p>change-on-fly: <br>可选。默认情况下，为了减少CPU使用率，当用户拖动/调整裁剪区域的大小时，结果图像仅在用户停止拖动/调整大小后更新。设置为true可在用户拖动/调整裁剪区域时始终更新结果图像。</p>
                <p>area-type:<br> 可选。裁剪区域的类型。可能的值：circle | square。默认值：圆。</p>
                <p>area-min-size: <br>可选。最小。裁剪区域的宽度/高度（以像素为单位）。默认值：80。</p>
                <p>result-image-size: <br>可选。结果图片的宽度/高度（以像素为单位）。默认值：200。</p>
                <p>result-image-format: <br>可选。结果图像的格式。可能的值包括image / jpeg，image / png和image / webp。浏览器支持不同。默认值：image / png。</p>
                <p>result-image-quality: <br>可选。结果图像的质量。可能的值介于0.0和1.0之间（含）。默认值：浏览器默认值。</p>
                <p>on-change: <br>可选。更改图像裁剪部分时评估的表达式。裁剪后的图像数据可用为$ dataURI。</p>
                <p>on-load-begin: <br>可选。用于评估源图像何时开始加载的表达式。</p>
                <p>on-load-done: <br>可选。用于评估源图像何时成功加载的表达式。</p>
                <p>on-load-error: <br>可选。用于评估源图像未加载的表达式。</p>
            </div>
        </div>
    </div>
</div>