<sam-Panel>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            内推状态：<input type="text" />
            职位/部门：<input type="text" />
            推荐日期：<sam-Date-Time datetimepicker="svm.datetimepicker" placeholder="选择日期" ng-model="svm.dateTime"></sam-Date-Time> - <sam-Date-Time datetimepicker="svm.datetimepicker2" placeholder="选择日期" ng-model="svm.dateTime2"></sam-Date-Time>
            <button >查询</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <table>
                <th>
                    <td>被推荐人</td>
                    <td>职位</td>
                    <td>部门</td>
                    <td>招聘顾问</td>
                    <td>内推状态</td>
                    <td>奖金发放情况</td>
                    <td>推荐日期</td>
                </th>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                </tr>
            </table>
        </div>
    </div>
</sam-Panel>