.landing{
    background: url(../img/landing-bg2.png);  
    background-size: cover;    
    overflow: auto;
}
 
.landing nav{
    height: 70px;
    line-height: 70px;
    background: #fff;
    box-shadow: 0 3px 3px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 3px 3px rgba(0,0,0,0.05);
}

.landing nav .header{
    margin-left: 6%;
}

.landing_Width{ 
    width:1030px;
    padding: 0px;
    margin:0px auto;
 }

.landing-Content{
    margin-top:103px;
}

.User_login{
    height: 52px;
    margin: 0px 20px;
    list-style: none;
    border-bottom: 1px solid #f5f5f5;
}

.User_login ul li a{
    height: 52px;
    line-height: 35px;
    display: inline-block;
}

.User_login ul li.active>a{
    border-bottom: 2px solid #e85656;
    color: #e85656;
    font-size: 16px;
    background: transparent;   
}

.Banner-login_bg{
    width:616px;
    height: 416px;
    background: url(../img/landing-bg.png) no-repeat;
    float:left;
}


.landing-Content fieldset{
    width: 360px;
    height: 400px;
    display: block;
    float: right;
    padding:0px;
    background:#fff;
    box-shadow: 0px 1px 5px rgba(114,120,142,.56);
    -moz-box-shadow: 0px 1px 5px rgba(114,120,142,.56); /* 老的 Firefox */
}

.landing-Content fieldset div .controls .input-group{
    height: 40px;
    position:relative;
}

/*.landing-Content fieldset div .controls .input-group span{
    height: 100%;
    background: transparent;
    border-color: #ddd;   
}*/

.landing-Content fieldset div .controls .input-group i{
    color:#e1e1e1;
    position: absolute;
    left: 10px;
    z-index: 11;
    top: 14px;
    
}

.landing-Content fieldset div .controls .input-group input{
    /*height: 100%;*/
    border-color: #e5e5e5;
    outline: none;    
    width: 290px;   
    border-radius: 4px !important;
    padding-left:36px; 
    height: 40px;
    /*line-height: 40px;*/
   
}

.landing-Content fieldset div .controls .input-group input::click{
   outline: none;    
}

.landing-Btn button{ 
    width: 160px;
    height: 36px;
    color: #fff;
    background: #fc7474;
    border-color: #fc7474;
    font-size: 16px;
    font-family: "微软雅黑";
    line-height: 0px;
    border-radius: 4px;
    outline: none;
 }

 .landing-Btn button:hover{
    color: #fff;
    background: #f05f5f;
    border-color: #f05f5f;
    outline: none;
    
 }

/* 登陆说明 */
 .Login_instructions{
     border-top:1px solid #f5f5f5;
     padding-left:23px;
    
 }

 .Login_instructions ul{
      line-height: 27px;
      padding: 0px;
      list-style: none;
 }
