/*

   框架主样式

*/

html,
body {
    background-color: #ccc;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: "Microsoft YaHei","微软雅黑",Arial, Helvetica, sans-serif
}

hr {
    margin: 10px;
}

.container-body {
    height: 100%;
    overflow: auto;
    /*margin-top: 50px;*/
    /*padding-top: 5px;*/
    /*border: 1px solid red;*/
    background-color: rgba(246, 248, 249, 0.8);
}

.container-main {
    display: block!important;
    padding: 10px 50px;
    padding-top: 70px;
    min-height: 100%;
    min-width: 1100px;
    overflow-x: auto;
}


/*常用颜色样式*/

input,
botton {
    outline: none;
}

input,
botton,
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
    text-decoration: inherit;
}

.btn-link:hover,
.btn-link:focus {
    outline: none;
    color: #e33941;
}

.btn-danger {
    border-color: #e9666c;
}

.btn-danger:hover {
    background: #e33941;
    border-color: #e33941;
}

.c33 {
    color: #333 !important;
}

.c36 {
    color: #666 !important;
}

.c39 {
    color: #999 !important;
}

.c3c {
    color: #ccc !important;
}

.ce9 {
    color: #e9666c !important;
}

.c8c {
    color: #8caa57 !important;
}

.ca1 {
    color: #a147c0 !important;
}

.c4a {
    color: #4aa395 !important;
}

.c52 {
    color: #526ad2 !important;
}


/*边距*/

.pt0 {
    padding-top: 0px !important;
}

.pt5 {
    padding-top: 5px !important;
}

.pt10 {
    padding-top: 10px !important;
}

.pt15 {
    padding-top: 15px !important;
}

.pt20 {
    padding-top: 20px !important;
}

.pt30 {
    padding-top: 30px !important;
}

.pt40 {
    padding-top: 40px !important;
}

.pl0 {
    padding-left: 0px !important;
}

.pl10 {
    padding-left: 10px !important;
}

.pl20 {
    padding-left: 20px !important;
}

.pr0 {
    padding-right: 0px !important;
}

.pr10 {
    padding-right: 10px !important;
}

.pr20 {
    padding-right: 20px !important;
}

.pl40 {
    padding-left: 40px !important;
}

.pr40 {
    padding-right: 40px !important;
}

.pb0 {
    padding-bottom: 0px !important;
}

.pb5 {
    padding-bottom: 5px !important;
}

.pb10 {
    padding-bottom: 10px !important;
}

.pb15 {
    padding-bottom: 15px !important;
}

.pb20 {
    padding-bottom: 20px !important;
}

.pb25 {
    padding-bottom: 25px !important;
}

.pb30 {
    padding-bottom: 30px !important;
}

.pb35 {
    padding-bottom: 35px !important;
}

.pb40 {
    padding-bottom: 40px !important;
}

.mt0 {
    margin-top: 0px !important;
}

.mt5 {
    margin-top: 5px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mt15 {
    margin-top: 15px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mt25 {
    margin-top: 25px !important;
}

.mt30 {
    margin-top: 30px !important;
}

.mt35 {
    margin-top: 35px !important;
}

.mb0 {
    margin-bottom: 0px !important;
}

.mb5 {
    margin-bottom: 5px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb15 {
    margin-bottom: 15px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mb25 {
    margin-bottom: 25px !important;
}

.mb30 {
    margin-bottom: 30px !important;
}

.mb35 {
    margin-bottom: 35px !important;
}

.mr0 {
    margin-right: 0px !important;
}

.mr5 {
    margin-right: 5px !important;
}

.mr10 {
    margin-right: 10px !important;
}

.mr15 {
    margin-right: 15px !important;
}

.mr20 {
    margin-right: 20px !important;
}

.mr25 {
    margin-right: 25px !important;
}

.mr30 {
    margin-right: 30px !important;
}

.mr40 {
    margin-right: 30px !important;
}

.ml0 {
    margin-left: 0px !important;
}

.ml5 {
    margin-left: 5px !important;
}

.ml10 {
    margin-left: 10px !important;
}

.ml15 {
    margin-left: 15px !important;
}

.ml20 {
    margin-left: 20px !important;
}

.ml25 {
    margin-left: 25px !important;
}

.ml30 {
    margin-left: 30px !important;
}

.ml35 {
    margin-left: 35px !important;
}

.ml40 {
    margin-left: 40px !important;
}


/*按钮宽度*/

.dis-inb {
    display: inline-block
}

.w80 {
    width: 80px;
}

.w90 {
    width: 90px;
}

.w100 {
    width: 100px;
}

.w110 {
    width: 110px;
}

.w120 {
    width: 120px;
}

.w150 {
    width: 150px;
}

.w245 {
    width: 245px !important;
}

.w300 {
    width: 300px !important;
}

.w384 {
    width: 384px !important;
}

.w400 {
    width: 400px !important;
}

.min-h400 {
    min-height: 400px
}


/**/

.fz12 {
    font-size: 12px;
}

.fz14 {
    font-size: 14px;
}

.fz16 {
    font-size: 16px;
}

.fz17 {
    font-size: 17px;
}

.fz18 {
    font-size: 18px;
}

/* 多行截断- ... */

.line-clamp3{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    display: -o-box;
    display: -ms-box;
    display: -moz-box;
    -webkit-line-clamp: 3;
    -o-line-clamp: 3;
    -moz-line-clamp: 3;
    -ms-line-clamp: 3;
    -webkit-box-orient: vertical;
    -o-box-orient: vertical;
    -ms-box-orient: vertical;
    -moz-box-orient: vertical;
}


/*定位*/

.po-re {
    position: relative
}

.po-ab {
    position: absolute
}


/*分割线*/

.Split-line {
    background: #f6f8f9;
    height: 1px;
    overflow: hidden;
}

.redstar {
    color: #e85656;
    font-size: 18px;
}


/*
.container-main-con{width: 1000px; margin: 0 auto;}
*/

.container-main>div[ui-view] {
    min-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

*[href] {
    cursor: pointer;
}

.vertical-container {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}


/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #F5F5F5;
}


/*定义滚动条轨道 内阴影+圆角*/

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}


/*定义滑块 内阴影+圆角*/

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    border-radius: 10px;
    background-color: #555;
}


/*过渡动画*/

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9000;
    background-color: rgba(0, 0, 0, .8);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#preloader>div {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e85656;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

#preloader>div:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #209e91;
    -webkit-animation: spin 3s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

#preloader>div:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #dfb81c;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

.full-invisible {
    visibility: hidden !important;
}

.tab-content {
    /*position: relative;*/
}

.tab-content>.tab-pane {
    display: block;
    visibility: hidden;
    position: absolute;
    top: 0;
    z-index: 0;
    opacity: 0;
    transition: opacity 1s;
    -o-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    /*width: 100%;*/
}

.tab-content>.active {
    visibility: visible;
    position: relative;
    opacity: 1
}

.tab-content .panel {
    box-shadow: 0 0px 0px rgba(0, 0, 0, .05)
}


/*
 图表
*/

.sam-Echarts {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 250px;
    min-width: 300px;
}


/*--------------------功能按钮--------------------*/

.min-btns-body {
    position: fixed;
    width: 40px;
    bottom: 60px;
    z-index: 10;
    /*background-color: red;*/
    min-height: 150px;
    right: 10px;
    transition: all .5s;
    opacity: 0.5;
}


/*.min-btns-body.min-btns-into {
    opacity: 1;
}*/

.min-btns-body:hover {
    opacity: 1;
}

.min-btns-body .list-group {
    margin: 0 0px 5px;
    color: #999
}

.min-btns-body .list-group-item {
    padding: 0;
    height: 40px;
    width: 40px;
    overflow: hidden;
}


/*二维码*/

.min-btns-body .min-btn-img {
    position: absolute;
    padding: 5px;
    transition: all .2s;
    display: block!important;
}
.QRCode-big{padding: 5px;border: 1px solid #eee; background: #fff;height: 110px;width: 110px}
.min-btns-body .min-or-code .min-btn-img {
    /*display: none;*/
    left: 0;
    opacity: 0;
    height: 0;
    width: 0;
}

.min-btns-body .min-or-code:hover .min-btn-img {
    /*display: block;*/
    left: -115px;
    opacity: 1;
    height: 100px;
    width: 100px;
}

.min-btns-body .min-btns-icon span {
    font-size: 20px;
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px
}


/*悬浮切换*/

.min-btns-body .min-btns {
    transition: all .2s;
}

.min-btns-body .min-btns:hover {
    transform: translateY(-50%);
}


/*--------------------功能按钮 END--------------------*/


/*选图插件*/

img-crop {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    overflow: hidden
}

img-crop canvas {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    outline: 0;
    -webkit-tap-highlight-color: transparent
}


/*表格样式*/

.table {
    border-bottom: 1px solid #f6f6f6
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    text-align: center;
    vertical-align: middle;
    line-height: inherit;
}

.table tr td {
    color: #666;
}

.table tr th {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    font-weight: normal;
    color: #333;
}

.table-btn-box {}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none;
}


/*表单样式*/

.form-group .control-label {
    color: #999;
    font-weight: normal;
    padding-right: 0px !important;
}

.form-group {
    margin-bottom: 6px;
}


/** 文化列表**/

.culture-con {
    background: #fff;
    padding: 10px 30px;
}

.culture-con .culture-title {
    border-bottom: 1px solid #efefef;
    font-size: 15px;
    height: 45px;
    line-height: 45px;
    margin: 0px;
}

.culture-con .media ul li {
    list-style: none;
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 30px;
    padding-top: 30px;
}

.culture-con .media .media-body h4 {}

.public-detail {
    background: #fff;
    padding: 20px 40px;
}

.public-det-title {
    border-bottom: 1px solid #f5f5f5;
}

.public-det-title h1 {
    font-size: 22px;
    color: #333;
    padding-bottom: 10px;
}

.public-detail-con {
    line-height: 1.5;
    color: #999;
    padding: 0px 30px;
}

.public-detail-con img {
    text-align: center;
    display: block;
    max-width: 800px;
    margin: 10px auto 0px;
}

.article-con {
    padding: 10px 30px
}

.article-list {
    padding: 5px 0px;
}

.article-list p {
    display: inline;
}

.media,
.media-body {
    zoom: 1;
    overflow: hidden;
    word-break: break-word;
}


/*富文本文件上传*/

.editor-uploader-list {}

.editor-uploader-list>.editor-uploader-item {
    padding: 8px;
}

.editor-uploader-list>.editor-uploader-item {
    padding: 8px;
    color:#23b7e5;
}

.message-list .text-left {
    text-align: left
}

.message-list .text-right {
    text-align: right
}