/* 居中 大tab 菜单切换*/
.main-menu-tabs{background: #fff; height: 58px;}
.main-menu-tabs .nav-tabs{ text-align: center;height: 58px; border-bottom: 2px solid #f7f7f7 }
.main-menu-tabs .nav>li>a{display: inherit; color: #999;font-size: 14px;border: none;padding: 13px 22px;}
.main-menu-tabs .nav-tabs>li{ float: inherit; display: inline-block; margin-top: 6px; }
.main-menu-tabs .nav-tabs>li.active>a, 
.main-menu-tabs .nav-tabs>li.active>a:focus, 
.main-menu-tabs .nav-tabs>li.active>a:hover{
    border: none; border-bottom: 2px solid #e85656; color: #e85656;
    background: #fff; font-size: 16px;
}
.main-menu-tabs .nav-tabs>li>a:hover{background: #fff;border: none;color: #e85656}

/* Second tab 菜单切换*/

.Second-menu-tabs{height: 50px; margin-left: 25px; margin-right: 25px;}
.Second-menu-tabs .nav-tabs{height: 50px; border-bottom: 1px solid #f7f7f7 }
.Second-menu-tabs .nav>li>a{ color: #999;font-size: 14px;border: none; padding: 16px 12px 12px; margin-right: 10px}
.Second-menu-tabs .nav-tabs>li.active>a, 
.Second-menu-tabs .nav-tabs>li.active>a:focus, 
.Second-menu-tabs .nav-tabs>li.active>a:hover{
    border: none; border-bottom: 2px solid #e85656; color: #e85656;
    background: #fff; 
}
.Second-menu-tabs .nav-tabs>li>a:hover{background: #fff;border: none;color: #e85656}
