/*
  
  导航

*/

.navbar-default {
    background-color: #fff;
}

.navbar-fixed-bottom,
.navbar-fixed-top {
    z-index: 998;
}

.nav-user {
    padding-right: 10px;
}

.nav-user>* {
    display: inline-block;
}

.nav-left {
    position: fixed;
    padding: 0px;
    height: 100%;
    background-color: #1c2b36;
    z-index: 100;
}


/*收缩菜单*/

.shrink-nav>.nav-left.col-xs-2 {
    /*width: 4.66666667%;*/
    width: 63px;
    transition: all .2s;
}

.shrink-nav>.container-body>.container-main.col-xs-offset-2,
.shrink-nav>.navbar.col-xs-offset-2 {
    margin-left: 4.66666667%;
}

.shrink-nav>.container-body>.container-main.col-xs-10 {
    width: 95.33333333%;
}

/*logo裁剪*/
.shrink-nav .nav-left .text-center .logo img{
    position: absolute;
    clip: rect(0px 50px 53px 0px);    
    left: 0px;   
}

/* 头像 */
.shrink-nav .nav-left .text-center .HeadPic img{
    width: 45px  ;
    height: 45px ;
}

.shrink-nav .nav-left .text-center .HeadPic h3{
    display: none;
}
.shrink-nav .nav-left .text-center .HeadPic p{
    display: none;
}

.shrink-nav .nav-left .sidebar{
    margin-left:0px;
}

/*图标-字体改动*/
.navbar .navbar-header .navbar-brand .icon-menu:hover{
     color: #8caa57;
}

.shrink-nav .navbar .navbar-header .navbar-brand .icon-menu{
     color: #8caa57;
}

.shrink-nav .nav-left .sidebar .sidebar-collapse .sidebar-menu .nav-sidebar li a span{
    display: none;
}

.shrink-nav .nav-left .sidebar .sidebar-collapse .sidebar-menu .nav-sidebar li a i{
    font-size: 20px;
    display: block;
    margin-right:0px;
    text-align: center;
}



/*收缩菜单*/

.logo {
    height: 53px;
    border-bottom: 1px solid #171d24;
    margin-bottom: 30px
}

.nav-left a.HeadPic {
    display: block;
    padding-bottom: 30px;
    border-bottom: 1px solid #171d24;
}

.nav-left a.HeadPic:hover {
    text-decoration: none;
}

.nav-left a.HeadPic h3 {
    color: #c3cfe0;
    font-size: 16px;
    line-height: 32px;
    margin: 0px
}

.nav-left a.HeadPic p {
    font-size: 12px;
    color: #46647a;
}

.sidebar {
    margin-left: 10px
}

.sidebar-menu {
    overflow: auto;
}

.sidebar-header {
    font-size: 12px;
    color: #46647a;
    line-height: 35px;
    display: block;
}

.sidebar-menu .nav>li>a {
    color: #81a8c3;
    font-size: 15px;
}

.sidebar-menu .nav>li>a i {
    font-size: 16px;
    margin-right: 10px;
}

.sidebar-menu .nav>li>a:focus,
.sidebar-menu .nav>li>a:hover {
    background: none;
    color: #fff;
}

.sidebar-menu li.active {
    background: #e9666c
}

.sidebar-menu li.active a {
    color: #fff;
}


/*头部*/

.header-Search {
    background: #edf1f2;
    width: 272px;
    height: 28px;
    border-radius: 14px;
    padding-left: 14px;
}

.header-Search input {
    background: none;
    border: none;
    height: 28px;
    line-height: 28px;
    padding: 0px;
    width: 219px;
    outline: none
}

.header-Search button {
    border: none;
    background: none;
    font-size: 16px;
    height: 28px;
    line-height: 28px;
    color: #828d92;
    top: 0px
}

.tip-massges {
    padding: 0px;
}

.tip-massges .icon-massges {
    font-size: 20px;
    color: #828d92;
}

.tip-massges .icon-massges:hover{
    color: #4aa395;
}

.tip-massges span {
    background: #e9464d;
    color: #fff;
    border-radius: 50%;
    top: 10px;
    right: 0px;
    min-height: 19px;
    min-width: 19px;
    text-align: center;
    font-size: 10px;
}

.tip-massges b {
    right: -5px;
    top: 18px;
    height: 16px;
    width: 1px;
    background: #d2d2d2;
}

.nav>li>a.tip-logout {
    padding-left: 12px;
    color: #828d92;
    width: 65px;
}
/* 退出hover */
.nav>li>a.tip-logout:hover{
     color:#e9666c;
}

.tip-logout .icon-tuichu {
    font-size: 20px;
}

.nav>li>a.tip-logout span {
    top: 16px;
    left: 35px;
}


/*天气小图标*/

.icon_weather_small {
    /*float: left;*/
    display: inline-block;
    width: 32px;
    height: 32px;
    /*margin: 5px 5px 0 0;*/
    transform: translateY(10px);
    background: url(../img/weather_yc_smallicon.png) 0 0 no-repeat;
}

.icon_weather_qing_0 {
    background-position: 0 0;
}

.icon_weather_qing_1 {
    background-position: -35px 0;
}

.icon_weather_duoyun_0 {
    background-position: -70px 0;
}

.icon_weather_duoyun_1 {
    background-position: -105px 0;
}

.icon_weather_yin_0 {
    background-position: -140px 0;
}

.icon_weather_yin_1 {
    background-position: -175px 0;
}

.icon_weather_xiaoyu_0 {
    background-position: -210px 0;
}

.icon_weather_xiaoyu_1 {
    background-position: -245px 0;
}

.icon_weather_zhongyu_0 {
    background-position: -280px 0;
}

.icon_weather_zhongyu_1 {
    background-position: -315px 0;
}

.icon_weather_dayu_0 {
    background-position: -350px 0;
}

.icon_weather_dayu_1 {
    background-position: -385px 0;
}

.icon_weather_baoyu_0 {
    background-position: -420px 0;
}

.icon_weather_baoyu_1 {
    background-position: -455px 0;
}

.icon_weather_15 {
    background-position: -490px 0;
}

.icon_weather_16 {
    background-position: -525px 0;
}

.icon_weather_tedabaoyu_0 {
    background-position: -560px 0;
}

.icon_weather_tedabaoyu_1 {
    background-position: -595px 0;
}

.icon_weather_leizhenyu_0 {
    background-position: -630px 0;
}

.icon_weather_leizhenyu_1 {
    background-position: -665px 0;
}

.icon_weather_zhenyu_0 {
    background-position: -700px 0;
}

.icon_weather_zhenyu_1 {
    background-position: -735px 0;
}

.icon_weather_yujiaxue_0 {
    background-position: -770px 0;
}

.icon_weather_yujiaxue_1 {
    background-position: -805px 0;
}

.icon_weather_bingbao_0 {
    background-position: -840px 0;
}

.icon_weather_bingbao_1 {
    background-position: -875px 0;
}

.icon_weather_dongyu_0 {
    background-position: -910px 0;
}

.icon_weather_dongyu_1 {
    background-position: -945px 0;
}

.icon_weather_shuangdong_0 {
    background-position: -980px 0;
}

.icon_weather_shuangdong_1 {
    background-position: -1015px 0;
}

.icon_weather_qingwu_0 {
    background-position: -1050px 0;
}

.icon_weather_qingwu_1 {
    background-position: -1085px 0;
}

.icon_weather_wu_0 {
    background-position: -1120px 0;
}

.icon_weather_wu_1 {
    background-position: -1155px 0;
}

.icon_weather_nongwu_0 {
    background-position: -1190px 0;
}

.icon_weather_nongyu_1 {
    background-position: -1225px 0;
}

.icon_weather_yan_0 {
    background-position: -1260px 0;
}

.icon_weather_yan_1 {
    background-position: -1295px 0;
}

.icon_weather_shachenbao_0 {
    background-position: -1330px 0;
}

.icon_weather_shachenbao_1 {
    background-position: -1365px 0;
}

.icon_weather_qiangshachenbao_0 {
    background-position: -1400px 0;
}

.icon_weather_qiangshachenbao_1 {
    background-position: -1435px 0;
}

.icon_weather_fuchen_0 {
    background-position: -1470px 0;
}

.icon_weather_fuchen_1 {
    background-position: -1505px 0;
}

.icon_weather_yangsha_0 {
    background-position: -1540px 0;
}

.icon_weather_yangsha_1 {
    background-position: -1540px 0;
}

.icon_weather_xiaoxue_0 {
    background-position: -1575px 0;
}

.icon_weather_xiaoxue_1 {
    background-position: -1610px 0;
}

.icon_weather_zhongxue_0 {
    background-position: -1645px 0;
}

.icon_weather_zhongxue_1 {
    background-position: -1680px 0;
}

.icon_weather_daxue_0 {
    background-position: -1715px 0;
}

.icon_weather_daxue_1 {
    background-position: -1750px 0;
}

.icon_weather_baoxue_0 {
    background-position: -1785px 0;
}

.icon_weather_baoxue_1 {
    background-position: -1820px 0;
}

.icon_weather_mai_0 {
    background-position: -1855px 0;
}

.icon_weather_mai_1 {
    background-position: -1890px 0;
}