.Result{background: #fff;padding: 10px 40px}
.Result .Result-title{ border-bottom: 1px solid #f5f5f5; padding:10px 0px;margin: 0px 0px 10px}
.Result-link li{list-style: none;margin-right: 70px;margin-bottom: 5px;margin-top: 10px;}
.Result-link a{color: #333;}
.Result-link a:hover{color: #e9666c}
.Result-con .media ul{padding: 0px}
.Result-con .media ul li{list-style: none; border-bottom:1px solid #f5f5f5; padding: 20px;}
.Result-con .media .media-object{width:60px;height: 65px;border-radius:5px;} 
.Result-newlist{padding:0px 20px}
.Result-newlist li{list-style: none; border-bottom:1px solid #f5f5f5;padding:15px 0px}
.Result-newlist li a:hover{text-decoration: none;}