/*自助服务*/

.selfservice-link {
    background: #fff;
    margin: 0px auto 20px;
    padding-top: 60px;
    padding-bottom: 30px;
}

.selfservice-link h3 {
    color: #333;
    font-size: 15px;
    margin-bottom: 20px
}

.selfservice-link .thumbnail {
    border: none;
}

.selfservice-link .thumbnail:hover {
    text-decoration: none;
}

.selfservice-link .thumbnail .caption {
    padding: 0px;
}


/**/

.sjr-info {
    border-image: url(../img/xinfengbg.png) 0 0 round;
    -moz-border-image: url(../img/xinfengbg.png) 0 0 round;
    -webkit-border-image: url(../img/xinfengbg.png) 0 0 round;
    -o-border-image: url(../img/xinfengbg.png) 0 0 round;
    padding: 10px;
    padding-bottom: 20px;
}

.sjr-info h3 {
    margin: 0px;
    color: #e9666c;
    padding: 10px 25px 10px;
    font-size: 16px;
}


/*办理证明*/

.prove-con {
    background: #fff;
}

.prove-con-title {
    border-bottom: 1px solid #f5f5f5;
    margin: 0px 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.prove-con .tab-content {
    width: 800px;
    margin: 0 auto;
}

.prove-con .nav-tabs {
    border-bottom: none;
    text-align: center;
    margin: 30px auto;
}

.prove-con .nav-tabs>li {
    display: inline-block;
    float: inherit;
}

.prove-con .nav-tabs>li>a {
    border-radius: 0px 0px 0 0;
    border: 1px solid #ddd;
    padding-left: 40px;
    padding-right: 40px;
    color: #666;
    margin-left: 40px
}

.prove-con .nav-tabs>li.active>a,
.prove-con .nav-tabs>li.active>a:hover,
.prove-con .nav-tabs>li.active>a:focus {
    border: 1px solid #e9666c;
    color: #e9666c;
    background: url(../img/tab-select.png) no-repeat right bottom;
}

.prove-con nav-tabs>li.active a {
    color: #e9666c;
}


/**/

.live-con,
.quit-con,
.seal-con,
.welfare-con 
{
    background: #fff;
    padding: 10px 30px 20px;
}

.live-con h1,
.quit-con h1,
.seal-con h1,
.welfare-con .welfare-con-title {
    font-size: 22px;
    border-bottom: 1px solid #f5f5f5;
    padding: 20px 0px;
    margin: 0px 0px 20px;
}
.live-con label,
.quit-con label,
.seal-con label,
.welfare-con label { font-weight: normal;}
.ol-list li {
    color: #999;
    margin: 8px 0px;
}

.quit-con h3 {
    font-size: 18px;
    margin-bottom: 20px
}

.quit-con .base-info .row {
    margin-bottom: 10px;
}

.quit-con .base-info label {
    font-weight: normal;
    color: #666;
}

.quit-con .base-info .c39 {
    width: 150px;
    text-align: right;
    margin-right: 12px;
}

.quit-con .base-info .form-group .c39 {
    width: 165px;
}


/*内推*/

.inside-con {}

.jchd-list {
    background: #fff;
    padding: 0px 25px
}

.jchd-list h3 {
    margin: 0px;
}

.jchd-list ul li {
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 20px;
    padding-bottom: 20px;
    list-style: none;
}

.inside-link .btn-link{color: #666;}
.inside-link .btn-link:hover{color: #e9666c;text-decoration: none;}
.inside-con .inside-right .panel-heading{font-size: 15px; background: #fff; border-color:#f0f0f0; }
.inside-con .inside-right .panel{border: none;}
.yxyj-btnbox{left: 0px; bottom:13px; width: 100%}
.yxyj-btnbox .btn{border-radius:20px }
.inside-star ul{padding: 0px}
.inside-star ul li{list-style: none;padding: 0px; border-bottom: 1px dotted #f0f0f0;padding-bottom: 10px; margin-top: 10px;}
.inside-star ul li h3{margin: 3px 0px 6px; white-space: nowrap;text-overflow:ellipsis; overflow:hidden;max-width: 150px}
.inside-star ul li .media-body{}
.welfare-con{background: #fff;}
.jchd_text{ display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; height: 42px; overflow: hidden}
/*社保公积金*/
.ssf-con{background: #fff;padding: 15px 10px;}
.ssf-con .panel{box-shadow:0 0px 0px rgba(0,0,0,0.05)}
.ssf-con .panel .panel-body{padding: 25px}
.ssf-con .panel h1{margin: 0px 0px 10px; font-size: 16px;}
.ssf-con .panel ul{padding: 0px; margin: 0px;}
.ssf-con .panel ul li{color: #999;font-size: 14px;padding-top:5px;padding-bottom:5px; list-style: none}
.ssf-con .panel ul li:hover{color: #e9666c}
.entry-con label{font-weight: normal}