
<div class="panel">
    <div class="panel-heading ">
        <h3 class="panel-title ">修改银行卡{{vm.myInfo[0].mobile}}</h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label >新手机号：</label>
            <input class="form-control" rows="3" ng-model="svm.telphone" placeholder="输入新手机号"></input>
        </div>
        <div class="form-group">
            <div class="text-center">
                <button type="button" class="btn" ng-disabled="svm.telphone.length<1" ng-click="svm.changeTel(svm.telphone)">提交</button>
                <button type="button" class="btn"  ng-click="closeThisDialog()">取消</button>
            </div>
        </div>
    </div>
</div>