
<div class="panel">
    <div class="panel-heading ">
        <h3 class="panel-title ">修改手机号{{svm.myInfo.myinfo.mobile}}</h3>
    </div>
    <div class="panel-body ml30 mt30 mr30">
         <div class="form-horizontal">
              <div class="form-group mb15">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">新手机号：</label><span ng-bind="svm.telerrorinfo" style="color: red;"></span>
                <div class="col-lg-9 col-md-9 col-sm-9">
                    <input class="form-control" rows="3" ng-model="svm.telphone" placeholder="输入新手机号"></input>
                </div>
        </div>
         </div>
       
    </div>
     <div class="form-group mb0 mt20">
            <div class="text-center dialog-footer">
                <button type="button" class="btn btn-danger w80 mr30" ng-disabled="svm.telphone.length<1" ng-click="svm.changeTel(svm.telphone)">提交</button>
                <button type="button" class="btn btn-default w80"  ng-click="closeThisDialog()">取消</button>
            </div>
        </div>
</div>