
<div class="panel">
    <div class="panel-heading ">
        <h3 class="panel-title ">修改头像</h3>
    </div>
    <div class="panel-body">
    <div class="edit_userlogo_con">
        <div class="form-group">
            <button class="btn btn-default mr15" ngf-select ng-model="svm.imgFile">上传照片</button>  <span class="c39 fz12">支持JPG、PNG、GIF，大小不超过5M</span>          
        </div>

        <div class="form-group mt20">
            
            <div class="upload_userlogo pull-left">
                <img-crop ng-src="/assets/img/adduserlogo.png" image="svm.imgFile | ngfDataUrl" result-image="svm.croppedDataUrl"></img-crop>
            </div>
            
            <div class="userlogo-list pull-left">
                <div  style=" width: 100px;height: 100px;background:#E4E4E4;overflow: hidden;">
                    <img src="/assets/img/tx.png" ng-src="{{svm.croppedDataUrl}} " width="100" alt="">
                </div>
                <p>100px*100px</p>            
                <div style="width: 50px;height: 50px;background:#E4E4E4;overflow: hidden;margin:5px auto;">
                    <img src="/assets/img/tx.png" ng-src="{{svm.croppedDataUrl}}" width="50" alt="">
                </div>
                    <p>50px*50px</p>
                <div style="width: 30px;height: 30px;background:#E4E4E4; overflow: hidden;margin:0 auto;">
                    <img src="/assets/img/tx.png" ng-src="{{svm.croppedDataUrl}}" width="30" alt="">
                </div>
                    <p>30px*30px</p>
                
            </div>
        </div>
    </div>
        <div class="form-group mb0">
            <div class="text-center dialog-footer">
                <button type="button" class="btn btn-danger w80 mr30" ng-disabled="svm.imgFile.name == null" ng-click="svm.saveUserlogo()">提交</button>
                <button type="button" class="btn btn-default w80"  ng-click="closeThisDialog()">取消</button>
            </div>
        </div>
    </div>
</div>