<div class="panel">
    <div class="panel-heading ">
        <h3 class="panel-title ">修改银行卡{{svm.myInfo.myinfo.account_ec_id}}</h3>
    </div>
    <div class="panel-body ml30 mt30 mr30">
        <div class="form-horizontal">
            <div class="form-group mb15">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label">银行：</label>
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <span ng-bind="svm.myInfo.myinfo.account_name"></span>
                </div>
            </div>
            <div class="form-group mb15">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label ">支行：</label>
                <span ng-bind="svm.bankAccountError.branchError" style="color: red;"></span>
                <div class="col-lg-8 col-md-8 col-sm-8" angucomplete-alt id="bankbranchid" placeholder="可输入支行所在地查询" pause="500" remote-url="/api/user/getBankBranch?bankId={{svm.myInfo.myinfo.account_code}}&brandName="
                    remote-url-data-field="data" selected-object="svm.bankBranchSelected" title-field="yc_branch_name" minlength="1"
                    input-class="form-control">
                </div>
            </div>
            <div class="form-group mb15">
                <label class="col-lg-3 col-md-3 col-sm-3 control-label ">新银行卡号：</label>
                <span ng-bind="svm.bankAccountError.accountIdError" style="color: red;"></span>
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <input class="form-control" rows="3" ng-model="svm.bankAccount.account_ec_id" placeholder="输入新银行卡号"></input>
                </div>
            </div>
            <div class="form-group mb15">
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
                <div class="col-lg-9 col-md-9 col-sm-9">
                    <button class="btn btn-link" style="padding: 0px" id="bankpic_button" plupload>
                        <span class="icon-file"></span> 选择文件</button>
                    <span class="c39 fz12 ml5">请上传您的新银行卡证明照片！</span>
                    <div class="pt10 pb10">
                        <img ng-src="{{svm.bankAccount.img}}" ng-if="svm.bankAccount.img.length>1" alt="" style="max-height: 200px;">
                    </div>
                    <span ng-bind="svm.bankAccountError.imgError" style="color: red;"></span>
                </div>
                <div class="mb10 text-center ce9 fz12">
                    不能在每月的3-5号修改，否则会影响工资发放！
                </div>
            </div>

        </div>
        <div class="form-group mb0 mt20">
            <div class="text-center dialog-footer">
                <button type="button" class="btn btn-danger w80 mr30" ng-disabled="svm.account_ec_id.length<1" ng-click="svm.changeBankAccount()"
                    ng-disabled="svm.disChangeAccound">提交</button>
                <button type="button" class="btn btn-default w80" ng-click="closeThisDialog()">取消</button>
            </div>
        </div>
    </div>
