<sam-Panel>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
           
            <table class="table table-hover mt30 ">
                <tr>
                    <th>学校性质</th>
                    <th>开始日期</th>
                    <th>结束日期</th>
                    <!--<th>学校代码</th>-->
                    <th>学校名称</th>
                    <th>学历</th>
                    <th>学位</th>
                    <th>操作</th>
                </tr>
                <tr ng-repeat="col in svm.myInfo.myedu | orderBy:'start_dt':'desc'">
                    <!--<td ng-bind="col.school_type_code">1</td>-->
                    <td><span ng-bind="s.name" ng-repeat="s in svm.schoolType" ng-if="s.value==col.school_type_code"></span></td>
                    <td ng-bind="col.start_dt">2</td>
                    <td ng-bind="col.end_dt">3</td>
                    <!--<td ng-bind="col.school_code">4</td>-->
                    <td ng-bind="col.school_descr">5</td>
                    <!--<td ng-bind="col.edu_lvl">6</td>
                    <td ng-bind="col.degree">7</td>-->
                    <td><span ng-bind="s.name" ng-repeat="s in svm.eduLvl" ng-if="s.value==col.edu_lvl"></span></td>                  
                    <td><span ng-bind="s.name" ng-repeat="s in svm.degree" ng-if="s.value==col.degree"></span></td>                  
                    <td>
                        <a href="javascript:void(0);"  ng-click="svm.showEditEdu(col)" class="btn btn-link">编辑</a>
                        <a href="javascript:void(0);"  ng-click="svm.deleteEdu(col)" class="btn btn-link">删除</a>
                    </td>
                </tr>
            </table>

             <div class="table-btn-box text-center pt20">
                <button class="btn btn-danger w80 mr30" ng-click="svm.showEditEdu()" >添加</button>
                <!--<button class="btn btn-default w80" ng-click="svm.saveEduTodata()">保存</button>-->
            </div>
            
        </div>
    </div>
</sam-Panel>