<sam-Panel>
    <div class="row  mt30">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <table class="table table-hover">
                <tr>
                    <th>单位名称</th>
                    <th>入职日期</th>
                    <th>离职日期</th>
                    <th>所在部门</th>
                    <th>职位</th>
                    <th>操作</th>
                </tr>
                <tr ng-repeat="col in svm.myInfo.myworks|orderBy:'start_dt'">
                    <td ng-bind="col.employer">1</td>
                    <td ng-bind="col.start_dt">2</td>
                    <td ng-bind="col.end_dt">3</td>
                    <td ng-bind="col.dept_name">4</td>
                    <td ng-bind="col.ending_title">5</td>

                    <td>
                        <a href="javascript:void(0);"  class="btn btn-link" ng-click="svm.showEditWork(col)">编辑</a>
                        <a href="javascript:void(0);"  class="btn btn-link" ng-click="svm.deletework(col)">删除</a>
                    </td>
                </tr>
            </table>
            <div class="text-center pt20">
                <button class="btn btn-danger w80 mr30" ng-click="svm.showEditWork()">添加</button>
                <!--<button class="btn btn-default w80" ng-click="svm.saveworkTodata()">保存</button>-->
            </div>
        </div>
    </div>
</sam-Panel>