<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录 - Site Manage网站管理</title>
    <!-- build:css -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/ngDialog.min.css" rel="stylesheet">
    <link href="assets/css/ngDialog-theme-default.min.css" rel="stylesheet">
    <link href="assets/css/angular-toastr.min.css" rel="stylesheet">
    <link href="assets/css/loading-bar.min.css" rel="stylesheet">
    <link href="assets/css/jquery.datetimepicker.min.css" rel="stylesheet">
    <link href="assets/css/wangEditor.min.css" rel="stylesheet">
    <link href="assets/css/swiper.min.css" rel="stylesheet">
    <link href="assets/css/animate.min.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">   
 
    <link href="assets/dist/styles.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="//cdn.bootcss.com/es5-shim/4.5.9/es5-shim.min.js"></script>
        <script src="//cdn.bootcss.com/es5-shim/4.5.9/es5-sham.min.js"></script>
    <![endif]-->
</head>

<body class="landing">
    <nav>
        <div class="header">
            <!--Login to Proton-->
            <img src="./assets/img/landing-logo.png" alt="">
        </div>
    </nav>     
    <div class="container-fluid content landing_Width" ng-controller="login as vm">         
            <div id="content" class="full">
                <div class="row">
                    <div class="login-box">                               
                        <form class="form-horizontal login landing-Content col-sm-12" ng-submit="vm.Login()">
                            <div class="Banner-login_bg" ></div>
                            <fieldset class="col-sm-12">
                                <div class="User_login">
                                    <ul class="nav">
                                        <li class="active">
                                            <a>用户登录</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="mt30 ml35"><!--form-group-->
                                    <div class="controls">
                                        <div class="input-group col-sm-12">
                                            <i class="icon-user"></i> 
                                            <input type="text" class="form-control" ng-model="vm.uid" placeholder="账号" />
                                           
                                        </div>
                                    </div>
                                </div>
                               <div class="mt25 ml35"> <!--form-group-->
                                    <div class="controls">
                                        <div class="input-group col-sm-12">
                                            <i class="icon-passd"></i> 
                                            <input type="password" class="form-control" ng-model="vm.pwd" placeholder="密码" />
                                        </div>
                                    </div>
                                </div>
                                  
                                <div class="landing-Btn mt25 mb30 text-center">
                                    <button type="submit" class="btn">登录</button>
                                </div>
                                <div class="Login_instructions c3c fz12">
                                    <h4 class="fz12 mt20 mb5">登录说明：</h4>
                                    <ul> 
                                        <li>1. 账号是企业邮箱账号xxxxx@yixincapital.com</li>
                                        <li>2. 密码是企业邮箱的统一密码</li>
                                    </ul>
                                </div>
                            </fieldset>
                        </form>
                   
                    </div>
                </div>
                <!--/row-->

            </div>
        
    </div>
    <!-- build:js -->
    <script src="assets/js/error.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.datetimepicker.full.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/angular-sanitize.min.js"></script>
    <script src="assets/js/angular-animate.min.js"></script>
    <script src="assets/js/angular-ui-router.min.js"></script>
    <!--自动完成-->
    <script src="assets/js/angucomplete-alt.js"></script>
    <!--toastr-->
    <script src="assets/js/angular-toastr.tpls.min.js"></script>
    <!--loading-->
    <script src="assets/js/loading-bar.min.js"></script>
    <!--<script src="assets/js/angular-translate.min.js"></script>-->
    <!--<script src="assets/js/angular-translate-loader-static-files.min.js"></script>-->
    <!--弹窗-->
    <script src="assets/js/ngDialog.min.js"></script>
    <!--cookies-->
    <script src="assets/js/angular-cookies.min.js"></script>
    <!--图片裁剪-->
    <script src="assets/js/ng-img-crop.js"></script>
    <!--文件上传-->
    <script src="assets/js/ng-file-upload.min.js"></script>
    <script src="assets/js/plupload.full.min.js"></script>
    <script src="assets/js/qiniu.min.js"></script>
    <!--图表-->
    <script src="assets/js/echarts.min.js"></script>
    <script src="assets/js/echarts-wordcloud.min.js"></script>
    <!--文本编辑器-->
    <script src="assets/js/wangEditor.min.js"></script>
    <!--<script src="assets/js/zooming.min.js"></script>-->
    <script src="assets/js/swiper.min.js"></script>
    <!--日历使用的模板框架-->
    <script src="assets/js/underscore-min.js"></script>
    <script src="assets/dist/app.js"></script>
    <!-- endbuild -->
</body>

</html>