<sam-Panel>
    <div class="panel-heading ">

    </div>
    <div class="panel-body">

        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="sam-Echarts" ng-if="svm.option2" sam-Echarts="svm.option2"></div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="sam-Echarts" ng-if="svm.option" sam-Echarts="svm.option"></div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="sam-Echarts" ng-if="svm.option1" sam-Echarts="svm.option1"></div>
        </div>
    </div>
</sam-Panel>