<sam-Panel>
    <div class="panel-heading mb5 mt25 ml35">
        <div class="define_search po-re">
            <input type="text" class="form-control" placeholder="请输入团队成员姓名" ng-model="svm.search" ng-change="svm.searchChange(svm.search)">
            <button type="button" class="po-ab"><span class="icon-search"></span></button>
        </div>
    </div>
    <div class="panel-body define_team">
        <h4 class="pb20 mb0">团队成员</h4>
        <div class="list-group mg-member-list define_team-content">
            <sam-Team-Member ng-repeat="t in svm.TeamMember"></sam-Team-Member>
        </div>
    </div>
</sam-Panel>