<sam-Panel>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="salary-top form-inline" >
            选择工薪月：<input type="text" class="mr40 form-control" />
            <span>实际收入：</span><b>10000</b> <span class="ce9 mr30">RMB</span> 
            <!--<span class="fz12 c39">实际收入 = 收入 - 扣减</span>-->
            <!--<button >查询</button>-->
            </div>
        </div>
    </div>
    <div class="Split-line2"></div>
    <div class="row salary-con">
        <div class="col-lg-5 col-md-5 col-sm-5 salary-detail">
            <h3>我的收入：<span>10000</span></h3>
            <h4>应发工资：<span>10000</span></h4>
            <h4>奖金：<span>10000</span></h4>
            <p>奖金（月度激励）：<span>10000</span></p>
            <p>内推奖金：<span>10000</span></p>
            <p>季度奖金：<span>10000</span></p>
            <p>绩效或提成：<span>10000</span></p>
            <h4>交通通讯餐补：<span>10000</span></h4>
            <h4>其他收入：<span>10000</span></h4>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7">
            <div class="sam-Echarts" ng-if="svm.option2" sam-Echarts="svm.option2"></div>
        </div>
    </div>
    <div class="Split-line2"></div>
    <div class="row salary-con">
        <div class="col-lg-5 col-md-5 col-sm-5 salary-detail">
            <h3>我的扣减：<span>10000</span></h3>
            <h4>个税：<span>10000</span></h4>
            <h4>个税扣减：<span>10000</span></h4>
            <h4>考勤：<span>10000</span></h4>
            <p>事假：<span>10000</span></p>
            <p>病假：<span>10000</span></p>
            <p>旷工：<span>10000</span></p>
            <p>产假：<span>10000</span></p>
            <h4>个人缴纳社保公积金：<span>10000</span></h4>
            <p>养老保险：<span>10000</span></p>
            <p>失业保险：<span>10000</span></p>
            <p>医疗保险：<span>10000</span></p>
            <p>公积金：<span>10000</span></p>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7">
            <div class="sam-Echarts" ng-if="svm.option2" sam-Echarts="svm.option2"></div>
        </div>
    </div>
    <div class="Split-line2"></div>
    <div class="row salary-con">
        <div class="col-lg-5 col-md-5 col-sm-5 salary-detail">
            <h3>企业缴纳社保公积金：<span>10000</span></h3>
            <h4>企业缴纳：<span>10000</span></h4>
            <p>养老保险：<span>10000</span></p>
            <p>失业保险：<span>10000</span></p>
            <p>医疗保险：<span>10000</span></p>
            <p>生育保险：<span>10000</span></p>
            <p>工伤保险：<span>10000</span></p>
            <p>公积金：<span>10000</span></p>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7">
            <div class="sam-Echarts" ng-if="svm.option2" sam-Echarts="svm.option2"></div>
        </div>
    </div>
</sam-Panel>