<sam-Panel>
    <div class="panel-heading ">
        <h3 class="panel-title main-title">易鑫文化
            <a class="pull-right more" ui-sref="public/culture({pageIndex:1})">更多 <span class="icon-arr-right"></span></a>
        </h3>
    </div>
    <div class="panel-body pt5 Define_culture-Height">
        <div class="media culture" ui-sref="public/culturedtl({id:vm.culture.article_id})">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" ng-src="{{vm.culture.img_url}}">
                </a>
            </div>
            <div class="media-body">
                <h1 ng-bind="vm.culture.title"></h1>
                <div ng-bind-html="vm.culture.content | trustAsHtml"></div>
            </div>
        </div>
    </div>
</sam-Panel>