<sam-Panel>
    <div class="panel-heading ">
        <h3 class="panel-title main-title">资讯公告

            <a class="pull-right more" ui-sref="public/notice({pageIndex:1})">更多 <span class="icon-arr-right"></span></a>
        </h3>
    </div>
    <div class="panel-body pt5 Define_notice-Height">
        <div class="home-notice-list">
           
            <a class="" ng-class="{'home-notice-first':$first}" ng-repeat="t in vm.notice" ui-sref="public/noticedtl({id:t.article_id})">
                <img ng-if="$first" ng-src="{{t.img_url}}" alt="">
                <span ng-bind="t.title" ></span>
                <!--<span ng-if="$first" ng-bind="t.content"></span>-->
                <span class="pull-right notice-time" ng-bind="t.create_date | dateFormat"></span>
            </a>
            
        </div>
    </div>
</sam-Panel>